/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */

// FhFooter
@include media-breakpoint-down(xs) {

   .center-block {
      display: block;
      margin-left: auto;
      margin-right: auto;
   }

  .main-footer {
      @include center-block;
      text-align:  center;
      padding-bottom: 0rem;
   }

  .main-footer .row {
      @include center-block;
   }
   
   .main-footer .main-footer-item{
        padding-bottom: 3rem;
   }
}