/* CUSTOMIZE THE MODALITY
-------------------------------------------------- */
.modality {
  margin-bottom: 1.5rem;  
  text-align: center;
}
.modality h2 {
  font-weight: normal;
}
.modality p {
  margin-top: .75rem;
  margin-right: .75rem;
  margin-left: .75rem;
}